#jinja2: trim_blocks:False
#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

{% if sshd_config['Port'] is defined -%}
  Port {{ sshd_config.Port }}
{% endif %}
{% if sshd_config['AddressFamily'] is defined -%}
  AddressFamily {{ sshd_config.AddressFamily }}
{% endif %}
{% if sshd_config['ListenAddress'] is defined -%}
  ListenAddress {{ sshd_config.ListenAddress }}
{% endif %}
{% if sshd_config['ListenAddresses'] is defined -%}
  {% for la in sshd_config.ListenAddresses -%}
    ListenAddress {{ la }}
  {% endfor %}
{% endif %}

{% if sshd_config['HostKey'] is defined -%}
  HostKey {{ sshd_config.HostKey }}
{% endif %}
{% if sshd_config['HostKeys'] is defined -%}
  {% for hk in sshd_config.HostKeys -%}
    HostKey {{ hk }}
  {% endfor %}
{% endif %}

{% if sshd_config['RekeyLimit'] is defined -%}
  RekeyLimit {{ sshd_config.RekeyLimit }}
{% endif %}

{% if sshd_config['SyslogFacility'] is defined -%}
  SyslogFacility {{ sshd_config.SyslogFacility }}
{% endif %}
{% if sshd_config['LogLevel'] is defined -%}
  LogLevel {{ sshd_config.LogLevel }}
{% endif %}

# Authentication:

{% if sshd_config['LoginGraceTime'] is defined -%}
  LoginGraceTime {{ sshd_config.LoginGraceTime }}
{% endif %}
{% if sshd_config['PermitRootLogin'] is defined -%}
  PermitRootLogin {{ sshd_config.PermitRootLogin }}
{% endif %}
{% if sshd_config['StrictModes'] is defined -%}
  StrictModes {{ 'yes' if sshd_config.StrictModes else 'no' }}
{% endif %}
{% if sshd_config['MaxAuthTries'] is defined -%}
  MaxAuthTries {{ sshd_config.MaxAuthTries }}
{% endif %}
{% if sshd_config['MaxSessions'] is defined -%}
  MaxSessions {{ sshd_config.MaxSessions }}
{% endif %}

{% if sshd_config['PubkeyAuthentication'] is defined -%}
  PubkeyAuthentication {{ sshd_config.PubkeyAuthentication | ternary('yes', 'no') }}
{% endif %}

{% if sshd_config['AuthorizedKeysFile'] is defined -%}
  AuthorizedKeysFile {{ sshd_config.AuthorizedKeysFile }}
{% endif %}
{% if sshd_config['AuthorizedPrincipalsFile'] is defined -%}
  AuthorizedPrincipalsFile {{ sshd_config.AuthorizedPrincipalsFile }}
{% endif %}

{% if sshd_config['AuthorizedKeysCommand'] is defined -%}
  AuthorizedKeysCommand {{ sshd_config.AuthorizedKeysCommand }}
{% endif %}
{% if sshd_config['AuthorizedKeysCommandUser'] is defined -%}
  AuthorizedKeysCommandUser {{ sshd_config.AuthorizedKeysCommandUser }}
{% endif %}

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
{% if sshd_config['HostbasedAuthentication'] is defined -%}
  HostbasedAuthentication {{ sshd_config.HostbasedAuthentication | ternary('yes', 'no') }}
{% endif %}
# Change to yes if you dont trust ~/.ssh/known_hosts for
# HostbasedAuthentication
{% if sshd_config['IgnoreUserKnownHosts'] is defined -%}
  IgnoreUserKnownHosts {{ sshd_config.IgnoreUserKnownHosts | ternary('yes', 'no') }}
{% endif %}

# Dont read the users ~/.rhosts and ~/.shosts files
{% if sshd_config['IgnoreRhosts'] is defined -%}
  IgnoreRhosts {{ sshd_config.IgnoreRhosts | ternary('yes', 'no') }}
{% endif %}

# To disable tunneled clear text passwords, change to no here!
{% if sshd_config['PasswordAuthentication'] is defined -%}
  PasswordAuthentication {{ sshd_config.PasswordAuthentication | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['PermitEmptyPasswords'] is defined -%}
  PermitEmptyPasswords {{ sshd_config.PermitEmptyPasswords | ternary('yes', 'no') }}
{% endif %}

# Change to no to disable s/key passwords
{% if sshd_config['ChallengeResponseAuthentication'] is defined -%}
  ChallengeResponseAuthentication {{ sshd_config.ChallengeResponseAuthentication | ternary('yes', 'no') }}
{% endif %}

# Kerberos options
{% if sshd_config['KerberosAuthentication'] is defined -%}
  KerberosAuthentication {{ sshd_config.KerberosAuthentication | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['KerberosOrLocalPasswd'] is defined -%}
  KerberosOrLocalPasswd {{ sshd_config.KerberosOrLocalPasswd | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['KerberosTicketCleanup'] is defined -%}
  KerberosTicketCleanup {{ sshd_config.KerberosTicketCleanup | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['KerberosGetAFSToken'] is defined -%}
  KerberosGetAFSToken {{ sshd_config.KerberosGetAFSToken | ternary('yes', 'no') }}
{% endif %}

{% if sshd_config['GSSAPIAuthentication'] is defined %}
  GSSAPIAuthentication {{ sshd_config.GSSAPIAuthentication | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['GSSAPICleanupCredentials'] is defined -%}
  GSSAPICleanupCredentials {{ sshd_config.GSSAPICleanupCredentials | ternary('yes', 'no') }}
{% endif %}

{% if sshd_config['UsePAM'] is defined -%}
  UsePAM {{ sshd_config.UsePAM | ternary('yes', 'no') }}
{% endif %}

{% if sshd_config['AllowAgentForwarding'] is defined -%}
  AllowAgentForwarding {{ sshd_config.AllowAgentForwarding | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['AllowTcpForwarding'] is defined -%}
  AllowTcpForwarding {{ sshd_config.AllowTcpForwarding | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['GatewayPorts'] is defined -%}
  GatewayPorts {{ sshd_config.GatewayPorts | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['X11Forwarding'] is /defined -%}
  X11Forwarding {{ sshd_config.X11Forwarding | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['X11DisplayOffset'] is defined -%}
  X11DisplayOffset {{ sshd_config.X11DisplayOffset }}
{% endif %}
{% if sshd_config['X11UseLocalhost'] is defined -%}
  X11UseLocalhost {{ sshd_config.X11UseLocalhost | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['PermitTTY'] is defined -%}
  PermitTTY {{ sshd_config.PermitTTY | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['PrintMotd'] is defined -%}
  PrintMotd {{ sshd_config.PrintMotd | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['PrintLastLog'] is defined -%}
  PrintLastLog {{ sshd_config.PrintLastLog | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['TCPKeepAlive'] is defined -%}
  TCPKeepAlive {{ sshd_config.TCPKeepAlive | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['PermitUserEnvironment'] is defined -%}
  PermitUserEnvironment {{ sshd_config.PermitUserEnvironment | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['Compression'] is defined -%}
  Compression {{ sshd_config.Compression }}
{% endif %}
{% if sshd_config['ClientAliveInterval'] is defined -%}
  ClientAliveInterval {{ sshd_config.ClientAliveInterval }}
{% endif %}
{% if sshd_config['ClientAliveCountMax'] is defined -%}
  ClientAliveCountMax {{ sshd_config.ClientAliveCountMax }}
{% endif %}
{% if sshd_config['UseDNS'] is defined -%}
  UseDNS {{ sshd_config.UseDNS | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['PidFile'] is defined -%}
  PidFile {{ sshd_config.PidFile }}
{% endif %}
{% if sshd_config['MaxStartups'] is defined -%}
  MaxStartups {{ sshd_config.MaxStartups }}
{% endif %}
{% if sshd_config['PermitTunnel'] is defined -%}
  PermitTunnel {{ sshd_config.PermitTunnel | ternary('yes', 'no') }}
{% endif %}
{% if sshd_config['ChrootDirectory'] is defined -%}
  ChrootDirectory {{ sshd_config.ChrootDirectory }}
{% endif %}
{% if sshd_config['VersionAddendum'] is defined -%}
  VersionAddendum {{ sshd_config.VersionAddendum }}
{% endif %}

{% if sshd_config['AcceptEnv'] is defined -%}
  AcceptEnv {{ sshd_config.AcceptEnv }}
{% endif %}

{% if sshd_config['Banner'] is defined -%}
  Banner {{ sshd_config.Banner }}
{% endif %}

{% if sshd_config['Subsystem'] is defined -%}
  Subsystem {{ sshd_config.Subsystem }}
{% endif %}
{% if sshd_config['Subsystems'] is defined -%}
  {% for ss in sshd_config.Subsystems -%}
    Subsystem {{ ss }}
  {% endfor %}
{% endif %}

{% if sshd_config['MatchUsers'] is defined -%}
  {% for k, v in sshd_config.MatchUsers.items() -%}
    Match User {{ k }}
    {% if v['X11Forwarding'] is defined %} X11Forwarding {{ v.X11Forwarding | ternary('yes', 'no') }}{% endif %}
    {% if v['AllowTcpForwarding'] is defined %} AllowTcpForwarding {{ v.AllowTcpForwarding | ternary('yes', 'no') }}{% endif %}
    {% if v['PermitTTY'] is defined %} PermitTTY {{ v.PermitTTY | ternary('yes', 'no') }}{% endif %}
    {% if v['ForceCommand'] is defined %} ForceCommand {{ v.ForceCommand | ternary('yes', 'no') }}{% endif %}
  {% endfor %}
{% endif %}
